/* custimized setting for the whole style----------------------*/
* {
  margin: 0;
}
:root {
  --my-txt-color: #953f0c;
  --my-bg-color: rgba(197, 106, 206, 0.4);
  --my-link-color: #3fc3d4;
  font-size: 20px;
}
body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 1.2rem;
}

a:hover {
  background: rgb(255, 217, 0, 0.5);
}

a:link,
a:visited {
  color: var(--my-link-color, rgb(255, 217, 0));
}

/* Header and Navbar style with flex--------------------------------*/
.flex-nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      60deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(172, 74, 167, 0.3) 60%
    ),
    url("https://github.com/Jo-Zh/Product-Landing-Page/blob/main/img/nav-background.png?raw=true");

  background-repeat: repeat;
  justify-content: space-between;
  box-shadow: 2px 2px 2px black;
  font-size: 1.5rem;
}

nav {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--my-txt-color, orange);
}
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
#header-img {
  width: 100px;
  height: 100px;
}
/* Main introduction with grid layout and Form style with flex layout--*/

.flex-info {
  display: grid;
  grid-template-areas:
    "title form"
    "info form"
    "button button"
    "video video";
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  padding: 10px;
  height: 100vh;
  color: var(--my-txt-color, orange);
  background-color: var(--my-bg-color, white);
}
.title {
  grid-area: title;
  color: rgb(255, 115, 0);
  padding-top: 50px;
  font-size: 3rem;
  text-shadow: 2px 2px 2px var(--my-txt-color);
}
#form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  padding: 2px;
  align-items: center;
  border: 2px solid gray;
  box-shadow: 5px 5px 5px grey;
  border-radius: 5%;
  background-color: blanchedalmond;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 1;
}
label,
option {
  font-size: 1rem;
  font-weight: bold;
  color: green;
}
#email,
textarea {
  width: 100%;
}
textarea {
  height: 5rem;
  overflow: auto;
}
.info {
  grid-area: info;
}
.btn {
  grid-area: button;
}
.showVideo {
  grid-area: video;
}

#submit {
  display: inline-block;
  height: 2.5rem;
  background-color: aqua;
  color: hotpink;
  box-shadow: 2px 2px 2px grey;
  border-radius: 10px;
}

input[type="reset"] {
  display: inline-block;
  background: transparent;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
  color: green;
}
/* Product Details and Prices Part with grid layout ------*/
h2 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 5px 5px 5px var(--my-txt-color, orange);
}
.grid-price {
  list-style: none;
  display: grid;
  grid-template-columns: 15rem 15rem 15rem;
  grid-gap: 5em;
  justify-content: center;
  color: var(--my-txt-color, orange);
}

.grid-price > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px var(--my-txt-color, orange);
}
li > img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1% 1% 1% 30%;
}
.order {
  background: transparent;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
  color: var(--my-txt-color, orange);
}
/* Contact  section, End of the page-------------------------*/
footer {
  text-align: center;
  color: var(--my-txt-color, black);
}
footer > div:before {
  content: "\00A9";
}
footer > div {
  color: var(--my-txt-color);
  font-size: 0.6rem;
}

/* Whole page Resposive Web Setting-------------------------- */

/* change layout */
@media screen and (max-width: 767px) {
  .flex-nav,
  nav > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .logo {
    display: none;
  }
  .flex-info {
    display: grid;
    grid-template-areas:
      "title"
      "info"
      "button"
      "video"
      "form";
  }

  .grid-price {
    display: grid;
    grid-template-columns: auto;
  }

  /* reduce sizing */
  :root {
    font-size: 8px;
  }
  .logo > img {
    width: 30px;
    height: 30px;
  }

  iframe {
    width: 80%;
    margin: auto;
  }
}
